html,
body {
  background-color: pink;
  background-image: url("../images/pink-sunset.webp");
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

canvas {
  --viewport-height: 100vh;
  --canvas-width: calc(var(--viewport-height) / calc(16/10));
  --border-width: calc(var(--viewport-height) / 2.468);
  height: var(--viewport-height);
  width: var(--canvas-width);
  background-color: cornflowerblue;
  border-image-outset: var(--border-width);
  border-image-repeat: stretch;
  border-image-slice: 0 50%;
  border-image-source: url("../images/border.png");
  border-image-width: var(--border-width);
}

@media only screen and (hover: none) and (pointer: coarse) {
  canvas {
    height: 100vh;
    width: 100vh;
  }
}